body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    color: white;
    font-family: 'GowunDodum';
    overflow: hidden;
}

.hidden {
    display: none;
}

.box {
    border: solid 2px;
    border-color: white;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 1);
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    margin: 4px;
    font-size: 18px;
    overflow: hidden;
}

.element {
    height: 26px;
    cursor: default;
}

#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 25px;
}

#header-box {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    width: 100%;
    height: 84px;
    align-content: center;
}

#header-box .box {
    align-content: center;
    height: 52px;
}

#header-box div {
    align-content: center;
}

#main-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}

#footer-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
}

#info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
}

#logo {
    all: unset;
    align-content: center;
    padding: 10px;
    padding-bottom: 0px;
    font-family: 'Courier Prime', monospace;
    font-size: 32px;
    text-align: center;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
}

#logo a {
    color: #ffe863;
    text-decoration: none;
    text-align: center;
}

#version {
    cursor: default;
    padding: 10px;
    padding-top: 0px;
    font-size: 16px;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    color: #ffe863;
    height: 23px;
}

#stats {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: right;
}

#option {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin-right: -2px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

#option select {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    cursor: pointer;
}

.phrase {
    margin: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    /* 문구 텍스트 크기 */
    text-align: left;
    /* 텍스트 가운데 정렬 */
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    /* 텍스트 그림자 */
    display: flex;
    align-items: center;
    padding: 0px;
    height: 35px;
    cursor: default;
}

#textInput {
    all: unset;
    margin: 30px;
    margin-top: 10px;
    /* 입력창 내부 여백 */
    font-size: 24px;
    /* 입력창 텍스트 크기 */
    border: none;
    /* 테두리 없음 */
    outline: none;
    /* 포커스시 테두리 없음 */
    background-color: #454545;
    /* 배경색상과 일치 */
    text-align: left;
    /* 텍스트 가운데 정렬 */
    color: white;
    /* 입력된 텍스트 색상 */
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    /* 텍스트 그림자 */
    font-family: 'GowunDodum';
    /* 웹폰트 적용 */
    caret-color: white;
    /* 커서 색상 변경 */
    display: flex;
    align-items: center;
    padding: 0px;
    height: 35px;
}

#textInput::placeholder {
    color: #76767a;
    /* 플레이스홀더 텍스트 색상 변경 */
}

#textInput::selection {
    background: #616266;
    /* 선택된 텍스트의 배경색 변경 */
}

#textInput::-moz-selection {
    background: #616266;
    /* 선택된 텍스트의 배경색 변경 */
}

#footer-box div {
    margin-top: 10px;
}

@media(max-width: 800px) {
    .cpm {
        display: none;
    }
}

@media(max-width: 720px) {
    #header-box {
        display: grid;
        grid-template-columns: auto 2fr;
        grid-template-rows: auto auto;
        width: 100%;
        height: 168px;
        align-content: center;
    }

    #footer-box {
        display: none;
    }

    #stats {
        margin-left: -2px;
        margin-right: -2px;
        grid-column: 1/3;
        grid-row: 2;
    }

    .cpm {
        display: inline;
    }
}

@media(max-width: 450px) {
    #boxes {
        width: 95%;
    }

    #option {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #option span {
        display: none;
    }
}

@media(max-width: 375px) {
    .cpm {
        display: none;
    }
}

@font-face {
    font-family: 'GowunDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GangwonEdu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFLightA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}