body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343434;
    color: #f3f3f3;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    font-family: 'GowunDodum';
    overflow: hidden;
    transition: background-color 0.5s, border-color 0.5s, text-color 0.5s;
}

#preloader {
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.hidden {
    display: none;
}

.box {
    border: solid 2px;
    border-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 1);
    margin: 4px;
    overflow: hidden;
}

.element {
    height: 26px;
    cursor: default;
}

#boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 25px;
}

#header-box {
    display: grid;
    grid-template-columns: auto 3fr 2fr;
    width: 100%;
    height: 84px;
    font-size: 18px;
    align-content: center;
}

#header-box .box {
    height: 52px;
}

#header-box div {
    align-content: center;
}

#main-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: 100%;
}

#footer-box {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
    height: 100%;
}

#info {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: left;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
}

#logo {
    all: unset;
    align-content: center;
    padding: 10px;
    padding-bottom: 0px;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    font-family: 'Courier Prime', monospace;
    font-size: 32px;
    text-align: center;
}

#logo a {
    color: #ffd900;
    text-decoration: none;
    text-align: center;
}

#version {
    cursor: default;
    padding: 10px;
    padding-top: 0px;
    font-size: 16px;
    color: #ffd900;
    height: 23px;
}

#stats {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    padding-left: 18px;
    padding-right: 18px;
    text-align: right;
}

#option {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-content: center;
    margin-right: -2px;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
}

#option span {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: right;
}

#option select {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    cursor: pointer;
}

.phrase {
    margin: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px;
    height: 35px;
    cursor: default;
}

#textInput {
    all: unset;
    border: none;
    border-bottom: 2px solid #f3f3f3;
    margin: 30px;
    margin-top: 10px;
    margin-bottom: 28px;
    outline: none;
    font-size: 24px;
    background-color: #454545;
    color: #f3f3f3;
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 1);
    text-align: left;
    font-family: 'GowunDodum';
    caret-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px;
    height: 35px;
    transition: background-color 0.5s, text-color 0.5s;
}

#textInput::placeholder {
    color: #76767a;
}

#textInput::selection {
    background: #616266;
}

::selection {
    background: #616266;
}

#footer-box div {
    margin-top: 10px;
}

/* Narrow UI */
@media(max-width: 800px) {
    .cpm {
        display: none;
    }
}

@media(max-width: 720px) {
    #header-box {
        display: grid;
        grid-template-columns: auto 2fr;
        grid-template-rows: auto auto;
        width: 100%;
        height: 168px;
        align-content: center;
    }

    #footer-box {
        display: none;
    }

    #stats {
        margin-left: -2px;
        margin-right: -2px;
        grid-column: 1/3;
        grid-row: 2;
    }

    .cpm {
        display: inline;
    }
}

/* Mobile UI */
@media(max-width: 450px) {
    #boxes {
        width: 90%;
    }

    #option {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #option span {
        display: none;
    }
}

@media(max-width: 375px) {
    .cpm {
        display: none;
    }
}


/* Light Mode */
.light {
    background-color: #f3f3f3;
    color: #343434;
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.2);
}

.light .box {
    box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
    border-color: #343434;
}

.light #logo a {
    color: #ffd900;
}

.light #version {
    color: #ffd900;
}

/* Terminal Theme */
.terminal {
    background-color: #000000;
    color: #00f900;
    box-shadow: none;
    text-shadow: none;
}

.terminal .box {
    box-shadow: none;
    border-color: #00f900;
}

.terminal #logo a {
    color: #00f900;
}

.terminal #version {
    color: #00f900;
}

.terminal #textInput {
    background-color: #000000;
    color: #00f900;
    border-bottom: 2px solid #00f900;
    margin-bottom: 28px;
    text-shadow: none;
}

.terminal #textInput::selection {
    background: #00f900;
    color: #000000
}

.terminal ::selection {
    background: #00f900;
    color: #000000
}

/* Telnet Theme */
.telnet {
    background-color: #00007d;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
}

.telnet .box {
    box-shadow: none;
    border-color: #ffffff;
}

.telnet #logo a {
    color: #ffffff;
}

.telnet #version {
    color: #ffffff;
}

.telnet #textInput {
    background-color: #00007d;
    color: #ffffff;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 28px;
    text-shadow: none;
}

.telnet #textInput::selection {
    background: #ffffff;
    color: #00007d
}

.telnet ::selection {
    background: #ffffff;
    color: #00007d
}

/* System(Auto) */
@media (prefers-color-scheme: light) {
    .system {
        background-color: #f3f3f3;
        color: #343434;
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
        text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.2);
    }

    .system .box {
        box-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
        border-color: #343434;
    }

    .system #logo a {
        color: #ffd900;
    }

    .system #version {
        color: #ffd900;
    }
}

/*Box Style for Pixelfont*/
.pixel .box {
    border-radius: 0px;
}

.pixel #logo {
    font-family: 'GalmuriMono7';
}

.pixel #version {
    font-family: 'Galmuri7';
}


/* fonts */
@font-face {
    font-family: 'GowunDodum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GowunBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunBatang-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunpen';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'D2Coding';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}